[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.12"
dependencies = [
    "robotpy-navx>=2026.0.1.1",
    "robotpy-rev>=2026.0.3.1",
    "robotpy-wpilib-utilities>=2026.1.0",
    "robotpy[all]>=2026.2.1.1",
]
